@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4F6;
  color: #374151;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}